body {    
    background-image: url(../images/fon.jpg);
    font-family: Roboto, "Open Sans", sans-serif;
}

a {
    color: #a44a4a;
}

a:hover {
    color: #a44a4a;
    text-decoration: underline;
}

a:active {
    color: #641d1d;
    text-decoration: underline;
}

header {
    padding: 10px;
}

.container {
    background-color: #ffe1b6;
}

h1 {
    text-align: center;
    color: #641d1d;
}

h2 {
    text-align: center;
    color: #641d1d;
}



footer {
    padding: 20px 0;
    border-top: 1px solid #415865;
}

.clear {
    clear: both;
}

.content {
    padding: 20px 0;
}

.date {
    font-style: italic;
}

.article {    
    padding: 10px;
    width: 90%;
    margin: 20px auto;
    background-color: #f9f8eb;
    border: 1px solid #641d1d;
    border-radius: 5px;
}

.form-inline {
    margin-bottom: 10px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.form-control:focus {
    border-color: #a44a4a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(148,100,61,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(148,100,61,.6);
}

.btn-default:active {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(148,100,61,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(148,100,61,.6);
}

.btn:active {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(148,100,61,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(148,100,61,.6);
}

/* пагинация */
.pagination > li > a {
    color: #641d1d;
    background-color: #f9f8eb;
    border: 1px solid #a44a4a;    
    margin-right: 10px;
}

.pagination > li > a:first-child {
    border-radius: 0;
}

.pagination > li > a:last-child {
    border-radius: 0;
    
}

.pagination > li > a:hover {
    color: #641d1d;    
    border: 1px solid #a44a4a;
    background-color: #dddddd;
    
}

.pagination > li.active > a {
    color: #f9f8eb;
    background-color: #a44a4a;
    border: 1px solid #641d1d;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #f9f8eb;    
    background-color: #a44a4a;
    border: 1px solid #641d1d;